/*Write more CSS to do the following:
 - a transition on the section elements that when hovered on, the background color changes to something else
 - give a border to the section elements and a border radius of 10px
 - set up the document to use ems or rems based off of a 62.5% root font size
 - a transition that moves the <p> tags over a few pixels when you hover over them (and back when you aren't hovering)*/

html, body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.625rem;
	background: #EEEEEE;
}

p {
	margin: 10px;
	font-weight: bold
}

p:hover {
	margin-left: 15px;
}

section {
	margin-bottom: 10px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
}

section:hover {
	background-color: #AAAAAA;
}

ul {
	list-style: none;
}

#makeMeHappy {
	font-size: xx-large;
}

#accordionContent {
	border-style: none;
	display: none;
}

#goodBye {
	border-style: none;
	display: none;
}
